/** fantasy fortune css **/

    .fantasyfortune{
      width: 250px;
      height: 350px;
      border: 1px solid black;
      position: relative;
      
    }
    
.dash{
  height: 100%;
  width: 100%;
  
   -moz-box-shadow: inset 0 0 10px #000;
   -webkit-box-shadow: inset 0 0 10px #000; 
    box-shadow: inset 0 0 10px #000;
    
    background-image: url("../img/webtreats_blue_creme_pattern_79.jpg");
    
    position: relative;
}

